<h1>Homepage (No typos allowed)</h1>

<div id="food-div">
  <h4>Calories Consumed</h4>
  <p><%= link_to "Enter Food", new_food_path, class: 'btn btn-success', remote: true %></p>
</div>
<div id="food-form-div">

</div>
<div>
  <ul id="food-list">
    <% current_user.foods.each do |food| %>
      <li><%= food.name %></li>
    <% end %>
  </ul>
</div>
